.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 100;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute; // Mobile default
  will-change: transform, left;

  h1 {
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    letter-spacing: 0.2em;
    white-space: nowrap;
    will-change: font-size;
  }
}

// Desktop styles
@media (min-width: 769px) {
  .header {
    padding: 2rem 0;
  }
  .container {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }

  .logo {
    position: static; // Static by default on desktop
  }

  .header.scrolled .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
